.contenedor {
	width: 80%;
	max-width: 500px;
	border: 1px dotted grey;
	margin: auto;
	padding: 1.5rem;
}

h1 {
	text-align: center;
}
.campo {
	margin: 10px 0; /* 10px arriba/abajo y 0 izda/dcha */
}
/*
label {
	display: inline-block;
	width: 25%;
}
*/
label.principal {
	display: block; /* se comportan como etiquetas tipo bloque */
}


/*si queremos que los input 
de tipo radio se separen un poco más, 
podemos añadir un magen por la izda:*/
/*
input[type="radio"] {
	display: inline-block;
	margin-left: 20px;
}
*/

textarea { /* no necesitamos usar el parámetro 'cols' de textarea */
	width: 100%;
}