
#contenedor {
	width: 80%;
	padding: 50px;
	border: 2px solid grey;
	margin: 10px auto;
}

#contenedor p.c1 {
	height: 200px;
	border: 1px dotted grey;

	border-radius: 30px;

	margin: 20px 30px 40px 50px;
	padding: 10px 20px;

	background-color: lightgreen;
	box-shadow: 2px 5px 3px;

}

#contenedor h1 {
/*	padding-left: 1rem;*/
padding: 0 0 0 1rem;

border-top: 2px solid blue;
border-bottom: 2px solid blue;
}

#contenedor p.c2 , #contenedor p.c3 ,#contenedor p.c4 {

	width: 80%;
	height: 300px;
	border: 1px solid #000;
	margin: 20px auto; /*20px arriba y abajo y 
	automático izda y dcha (centrar)*/
	padding: 10px 20px;
}
#contenedor p.c2 {
	background-color: lightblue;
	background-image: url("../img/html_transparente.png");
	background-size: 33.33%;

}
#contenedor p.c3 {
	background-color: lightpink;
	background-image: url("../img/html_transparente.png");
	background-size: 20%;
/*	background-position: right bottom ;*/
	background-position: center center ;
	background-position: 100% 100% ;
/*	background-repeat: no-repeat;*/
	background-repeat: repeat-x;


}

#contenedor p.c4 {
	padding-top: 100px ;
	background-color: #ccc;

	background: url("../img/flecha.jpg") repeat-x 0% 95%,
				url("../img/html_transparente.png") repeat-x 0% 0%;
	background-size: 10%,20%;

}

#contenedor2, #contenedor3 {
	width: 100%; /* valor por defecto para un  */
	display: flex; /* lo pasamos a contenedor flex */
	flex-wrap: wrap; /* permite salto de línea 
			si los elementos no entran en una sola línea */	
}

#contenedor2, #contenedor2 p {
	box-sizing: content-box; /* valor por defecto */
}

#contenedor3, #contenedor3 p {
	box-sizing: border-box;
}
#contenedor2 p, #contenedor3 p {
	width: 25%;
	border:1px solid blue;
	padding: 2%;

}


/*para trabajar por defecto con el modelo de caja
con ancho en base a borde, usamos esta regla:
	* {box-sizing: border-box;}

*/