* {
	box-sizing: border-box;
}

#contenedor {
	width: 80%;
	min-width: 600px;
	max-width: 1200px;
	/*border:1px solid green;*/
	margin: 0 auto;
}

#cab {
	/*border:1px dotted grey;*/
	border-bottom: 1px solid grey;
	margin-bottom: 9px;
	overflow: hidden;
}

#cab img {
	float: left;
}
#cab nav {
	float: right;
	margin-top: 20px;
}
#cab nav a {
	padding-left: 8px;
}
.limpar_float {
	clear: both;
}

/*#corpo #contido*/
#contido {
	/*border:1px solid grey;*/
	width: 75%;
	float: left;
}
#contido article {
	width: 50%;
	float: left;
	text-align: center;
}
#contido article p {
	text-align: justify;
	padding: 9px;
}

#contido article img {
	width: 80%;
	max-width: 250px;
}

#barra {
	/*border:1px solid grey;*/
	width: 25%;
	float: left;
	text-align: center;
}
#barra img {
	width: 90%;
	max-width: 200px;
}
#barra ul, #pe ul {
	list-style-type: none;
	padding: 0;
}
#pe div {
	border-top: 1px solid grey;
	width: 33.33%;
	float: left;
	text-align: center;

}
