* {box-sizing: border-box;}

.contenedor-grid-1, .contenedor-grid-2 {
	border: 2px solid red;
	text-align: center;	
	margin-bottom: 4rem;

	display: grid;
	grid-template-columns: repeat(4, 22%);
	grid-template-rows: repeat(3, 150px);


}

.contenedor-grid-1 {
	/*start center end stretch*
	/* alineación items en horizontal y vertical */
	justify-items: center; /* por defecto stretch */
	align-items: end; /* por defecto stretch */
	/* en lugar de las 2 propiedades anteriores, puedo simplificar :	*/
	place-items: end center; /* vertical horizontal */
}
.contenedor-grid-2 {

}

.item {
	border: 1px solid grey;
	padding: 2rem;
	font-size: 2rem;
}