/* responsive mobile first con CSS Grid */
* {box-sizing: border-box;}

.contenedor{
	width: 100%; /* valor por defecto */
	margin: auto; /* se hereda luego a las media queries */
	border: 1px solid red;

	text-align: center;

}

.contenedor-grid {
	border: 1px solid blue;
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: auto; /* por defecto */
}

.item {
	border: 1px solid grey;
	padding: 2rem;
	font-size: 2rem;
}

/*// X-Small devices (portrait phones, less than 576px)*/
/*// No media query for `xs` since this is the default in Bootstrap*/

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
	.contenedor{
		width: 95%; 
	}
	.contenedor-grid {
		grid-template-columns: repeat(2, 1fr);
	}	

}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*// X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*// XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}