/* diseño responsive con flexbox - desktop first */
/* hacemos diseño por defecto para dispositivos de escritorio */
* {
	box-sizing: border-box;	
}

h1 {
	text-align: center;
}


.contenedor {
	width: 75%;
	margin: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	row-gap: 10px; /* separación entre items de diferentes filas */

}

.contenedor .item img {
	width: 100%;
}

.contenedor .item {
	flex-basis: 19%;
}



/* XX-Large devices (larger desktops)*/
/* No media query since the xxl breakpoint has no upper bound on its width*/

/* X-Large devices (large desktops, less than 1400px)*/
/*@media (max-width: 1399.98px) { }*/

/* Large devices (desktops, less than 1200px)*/
/*@media (max-width: 1199.98px) { }*/

/* Medium devices (tablets, less than 992px)*/
@media (max-width: 991.98px) {
	.contenedor {
		width: 90%;
	}	
	.contenedor .item {
		flex-basis: 32.5%; /* un valor >25% e <33.33%, para mantener 3 columnas */
	}

}

/* Small devices (landscape phones, less than 768px)*/
@media (max-width: 767.98px) { 
	.contenedor {
		width: 100%;
	}	
	.contenedor .item {
		flex-basis: 100%;
	}	

}

/* X-Small devices (portrait phones, less than 576px)*/
/*@media (max-width: 575.98px) { }*/





