/* Escribe aquí tu CSS para la página web ex04.html */
body {
	font-size: 1.2em;
	background-color: #ddd;
}

#contenedor {
	width: 1200px;
	margin: 0 auto;
	background-color: #fff;
}

.limpiar {
	clear: both;
}

#cabecera {
	background-color: coral;
	padding: 25px;
	overflow: hidden;
}

	#cabecera h1 {
		float: left;
	}
	#cabecera nav {
		float: right;
	}

#principal {
	width: 1000px;
	padding: 15px;
	float: left;
}

	#principal article {
		width: 50%;
		padding: 10px;
		float: left;
	}

#complementario {
	background-color: DarkSeaGreen;
	width: 200px;
	float: left;
	padding: 15px;
}

#pie {
	background-color: #000;
	overflow: hidden;
}
	#pie div {
		width: 400px;
		float: left;
		padding: 15px;
		color:#fff;
	}
