body {
	font-size: 1.2em; 
	background-color: #ddd;
}
#contenedor {
	width: 40%;
	border: 1px dotted grey;
	padding: 20px 20px 120px 20px;
	margin: 50px auto;
    background-color: #fff;
    position: relative;
}

.cuadrado {
	width: 200px;
	border: 1px dotted black;
	padding: 10px;
	margin: 0;
}
span {
	font-style: italic;
	font-size: 1.2em;
	font-weight: bold;
	color: red;
	font-variant: small-caps;
}

#uno {
	position: static;/* non sería necesario , xa que é o posicionamento por defecto*/
	background-color: white; /*non sería necesario, xa ten esta cor o seu contedor*/
}

#dos {
	background-color: aqua;
	position: relative;
	top:50px; /*equivalente a-> bottom: -50px*/
	left: 100px; /*equivalente a -> right: -100px */
}

#tres {
	background-color: yellow;
	position: absolute;
	right: 20px;
	bottom: 0px;
}

#cuatro {
	background-color: lime;
	position: fixed;
	right: 100px;
	top: 100px;
}