/* Escribe aquí tu CSS para la página web ex03.html */

body {
	font-size: 1.2em; 
	background-color: #ddd;
}
#contenedor {
	width: 700px;
	border: 1px dotted grey;
	padding: 20px;
	margin: 50px auto;
    background-color: #fff;

    overflow: auto;
}
h1 {
	text-align: center;
}

.campos {
	padding: 9px;
}

label[for] {
	color: blue;
}

.bloque {
	width: 48%;
	margin: 1%;
	border: 1px solid blue;
	padding: 15px;
	height: 150px;
	background: url("../img/fondo1.jpg") center center;
	float: left;
}

input[type="submit"] {
	background-color: blue;
	color: white;
	padding: 5px 25px;
	font-weight: bold;

	border-radius: 15px;
	float: right;
}