/*diseño responsive con flexbox y filosofía mobile first*/
/* prioridad a dispositivos pequeños */

* {box-sizing: border-box;}

.dos{
	background-color: #b6ebb3;
}
.uno {
	background-color: #bacee3;
}
.tres {
	background-color: #7ebdbb;
}

#cabecera {
/*	border: 1px solid darkred;*/
	background-color: #202020;
	display: flex;

	height: 170px;
	align-items: center;
	/* en lugar de las dos propiedades anteriores, también podríamos usar:	*/
	/*	padding: 50px;*/


	justify-content: flex-end; 
	/* también vale declarar flex-direction en row-reverse */
	/* y dejar la justificación de items a flex-start (defecto)	*/

}

#logo {
	margin-right: 12%;
}

h1 { text-align:center; }

#viajes {
	display: flex;
	flex-direction: column-reverse;
}

.viajes-item {
	flex-basis: 100%;
	padding: 20px;

	display: flex;
	flex-direction: column;
}

.viajes-item img {
	width: 100%;
	order: -1;
}

.viajes-item button {
	width: 120px;
	align-self: center;
	margin-top: auto;
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
	#viajes {
		flex-direction: row-reverse;
		flex-wrap: wrap;
	}	
	.viajes-item {
		flex-basis: 50%;	
	}	

}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 

	.viajes-item {
		flex-basis: 33.33%;	
	}	


}